 <style>
        *, *::before, *::after {
            box-sizing: border-box;
            font-family: 'PT Serif', serif;
        }
        body {
            background-image: linear-gradient( 102.7deg,  rgba(253,218,255,1) 8.2%, rgba(223,173,252,1) 19.6%, rgba(173,205,252,1) 36.8%, rgba(173,252,244,1) 73.2%, rgba(202,248,208,1) 90.9% );
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            font-size: 22px;
        }
        body.correct {
            background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(4,159,108,1) 0%, rgba(194,254,113,1) 90.1% );
        }
        body.wrong {
            background-image: linear-gradient( 102.2deg,  rgba(250,45,66,1) 9.6%, rgba(245,104,104,1) 96.1% );
        }
        .container {
            width: 800px;
            height: auto;
            /*So the content doesn't overflow the page*/
            max-width: 80%;
            background-color: white;
            border-radius: 5px;
            padding: 50px 20px;
            box-shadow: 0 0 10px 1px;
            position: relative;
        }
        .btn-grid {
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 10px;
            margin: 20px 0;
        }
        .btn {
            cursor: pointer;
            font-size: 18px;
            padding: 5px 10px;
            border: 1px solid white;
            background-image: linear-gradient(to right, #ee9ca7 , #ffdde1);
            border-radius: 5px;
            outline: none;
            transition: 0.1s ease-in;
        }
        .btn:hover {
            opacity: 0.7;
        }
        .btn.correct {
            background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(4,159,108,1) 0%, rgba(194,254,113,1) 90.1% );
        }
        .btn.wrong {
            background-image: linear-gradient( 102.2deg,  rgba(250,45,66,1) 9.6%, rgba(245,104,104,1) 96.1% );
        }
        .start-btn, .next-btn {
            font-size: 1rem;
            font-weight: bold;
            padding: 10px 20px;
        }
        .next-btn {
            font-size: 1rem;
            font-weight: bold;
            position: absolute;
            top: 190px;
        }
        .controls {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .hide {
            display: none;
        }
        #text{
            position: absolute;
            text-align: center;
            top: 10px;
        }
        #score{
            position: absolute;
            text-align: center;
            top: 70px;
        }
        .avoid-clicks {
        pointer-events: none;
        }
        .show{
            opacity: 1;
            color: black;
        }
    </style>